body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Droid Sans', sans-serif;
}

.navBar{
	border: ;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
}

h1 {

}
#msgInput{

}

#clearBtn{

}

.checkbox{

}

#msgBoard {
	margin: 170px 200px 0 200px;
	height: 600px;
	border: 2px solid black;
	overflow: scroll;
	display: block;
	
}

.darkTheme {
	background-color: darkgray;
	color: #FFFFF0;
}

.largeText {
	font-size: 2.5em;
}

.logoPic {
	border: 2px solid black;
	border-radius: 15px;
	padding: 5px;
	margin: 0 10 0 10;
	background-color: DarkRed;
	top: 0px;
	left: 0px;
	position: fixed;
	width: 10%;
}