body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Droid Sans', sans-serif;
}

h1 {

}
#msgInput{

}
#clearBtn{

}
.checkbox{

}
.msgBoard{

}

.darkTheme {
	background-color: darkgray;
}

.largeText {
	font-size: 5em;
}

.logoPic {
	border: 3px solid black;
	border-radius: 15px;
  width: 15%;
  padding: 5px;
  margin: 0 10 0 10;
  background-color: DarkRed;
  float: left;
}
